doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(type='text/javascript', src='/javascripts/jquery-1.11.0.min.js')
		script(type='text/javascript', src='https://js.pusher.com/3.2/pusher.min.js')
		script(type='text/javascript', src='/javascripts/home.js')
	body
		block content
