extends layout

block content
	.container
	.header
		h3.text-muted Operations File Upload
	|       
	.jumbotron.text-center
		h1 Welcome To File Parser
		|         
		p.lead
			| Get real time feedback of your file parse progress
		.row
			.form-group.col-lg-4.col-lg-offset-4
				label(for="name") uploaded file
				| 
				label(for='file') #{uploadedFileName}
				div(id='fileName' value="#{uploadedFileName}")
				h2 With realtime progress :)
				|       
				button#mybutton.btn.btn-lg.btn-success() Parse File
				|               
				.progress.progress-striped.active.hide
					#realtime-progress-bar.progress-bar.progress-bar-info(role="progressbar", style="width: 0%")
				|               
				p.messages
		.row
			.col-md-6
				.form-group.col-lg-4.col-lg-offset-4
					table#operations_table()
						thead
							th.search-table-column(data-dynatable-column="companies_name") company
							th.search-table-column(data-dynatable-column="operations_type") type
							th.search-table-column(data-dynatable-column="operations_status") status
						tbody
			.col-md-6
				.form-group.col-lg-4.col-lg-offset-4
					table#companies_table()
						thead
							th.search-table-column id
							th.search-table-column name
						tbody
				



				
	
